@import "tailwindcss";

@theme {
  --color-card: #1e2139;
  --color-accent: #6c5dd3;
  --color-muted: #8a8fb9;
  --padding-left-side: 10px;
  --color-text-pri: #f1f5f9;
  --color-text-sec: #62748e;
}

:root{
  --color-background: #020618;
  --color-text: var(--color-text-pri);
  --bg-color-light: #635a73;
  --bg-color-dark: #2b2a3a;
}

.dark{
  --color-background: #141625;
} 

@layer base{
body{
  background-color: var(--color-background);
  color: aliceblue;
  @apply font-mono
}

  h1{
    @apply text-[var(--color-text)];
  }

  h2{
    @apply text-2xl
  }
}
@layer components{
  .sideBar{
    @apply flex flex-col pl-10 pt-20 gap-8 text-[var(--color-text)];
  }

  .navBar{
    @apply pl-5 h-16 pr-10 flex justify-between items-center;
  }

}